 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-9 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <div class="panel">
                        </br>
                        <h2 class="text-center">I'm Caitria</h2>
                        <h4 class="text-center"> Designer &#183 Mountaineer</h4>
                        </br>
                        <img class="img-responsive" src="img/profile.gif" alt="">
                        </br>
                        <h4>A Brief History</h4>
                        <p class="small">I lead and teach solid design. Previously, I was <a href="http://dschool.stanford.edu/fellowships/2014/06/20/caitria-oneill-design-for-the-weary/" class="light">fellow & adjunct faculty</a> member at Stanford University's Design School <a href="http://dschool.stanford.edu/our-point-of-view/" class="light">(d.school)</a>, founder/CEO of award-winning <a href="http://poptech.org/e4_in_profile_caitria_o%E2%80%99neill" class="light">Recovers.org</a>,  graduate of Harvard University, employee of the Harvard Law Review, and occasionally a <a href="https://soundcloud.com/caitrio/lying-on-the-moon-1" class="light">street-musician.</a></p>
                        </br>
                        <h4>Party Tricks</h4>
                        <ul>
                            <li>Needfinding</li>
                            <li>User research</li>
                            <li>Product management</li>
                            <li>Research analysis & insight generation</li>
                            <li>Conceptual design & rapid prototyping</li>
                            <li>User experience skillbuilding with teams</li>
                        </ul>
                        <div class="text-center">
                            <a href="#" class="btn btn-lg btn-outline-light ">
                                Résumé
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7    col-sm-12 col-xs-12">
                    <h3>Skill-building Design Sprints</h3>
                    </br>
                    <p style="color: #{{ site.color.secondary }};">I help teams figure out what to build & how to build it.</p>
                    </br>
                    <p>I am a seasoned expert in user-centered design, from <strong>needfinding</strong> and <strong>user research</strong> to rapid <strong>prototyping</strong> and <strong>product management</strong>. I can help you build meaningful experiences for your users, and invest in your own talent through skillbuilding with your team.</p>
                    </br>
                    </br>
                    <div class="col-lg-6">
                        <div class="text-center">
                            <img class="img-responsive" src="img/interview.png" width="35%" alt="" style="display: inline-block;">
                        </div>
                        <div class="text-center">
                            <h3>
                            UX Design
                            </h3>
                        </div>
                        </br>
                        <p class="small">Hire me as a user experience lead or product manager. I'll work with your users to discover needs, frame unique insights, plot direction, and prototype solutions. I'll work with your team to develop design and innovation skills.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-center">
                            <img class="img-responsive" src="img/workshop.png" width="35%" alt="" style="display: inline-block;">
                        </div>
                        <div class="text-center">
                            <h3>
                            Workshops
                            </h3>
                        </div>
                        </br>
                        <p class="small">Pivots, pilots and prototypes should be fun!  Develop your in-house talent and jumpstart any stage of your product's lifecycle with hands-on design workshops. Reframe your product or service with your users in mind.</p>
                    </div> 
                    <br/>
                    <h5 class="text-center">* Currently accepting new projects - <a href="#">let's chat</a> *</h5>                  
                </div>
            </div>
        </div>
    </section>